@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,600;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "static";
@import "header";
*{
    margin:0;
    padding:0;
    font-family: $text2 ;
    // text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
}
body{
    background-color: $color1;
    overflow-x: hidden;
}

.disaledBtn{
    background-color: rgb(237,237,237);
    cursor: not-allowed;
}